[submodule "themes/angels-ladder"]
	path = themes/angels-ladder
	url = git@github.com:lanxx019/angels-ladder.git
[submodule "public"]
	path = public
	url = git@github.com:lanxx019/lanxx019.github.io.git
